.navbarContainer {
  width: 100%;
  height: 80px;
  display: flex;
  border-bottom: solid 1px var(--lightGray);
}

@media screen and (max-width: 992px) {
  .navbarContainer {
    display: none;
  }
}
