@import '../../../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../../../node_modules/@syncfusion/ej2-buttons/styles/material.css';
@import '../../../node_modules/@syncfusion/ej2-react-calendars/styles/material.css';
@import "../../../node_modules/@syncfusion/ej2-react-inputs/styles/material.css";

html, body, #root {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.content {
    height: 100%;
    width: 100%;
}

