.recipeListContainer {
  flex-grow: 1;
  overflow-y: scroll;
  width: 100%;
  margin-top: 0.5rem;
  --webkit-overflow-scrolling: touch;
}

.recipeListContainer::-webkit-scrollbar {
  width: 1rem;
}

.recipeListContainer::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background-color: var(--lightGray);
  box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
}

.recipeListItem {
  height: 70px;
  background-color: var(--lightGray);
  margin-top: 0.5rem;
  margin-right: 0.5rem;
}
