.menuContainer {
  width: 300px;
  height: 100%;
  border-right: solid 1px var(--lightGray);
}

.menuOption {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 60px;
  color: var(--darkGray);
  cursor: pointer;
}

.menuOption:hover {
  opacity: var(--opacity);
}

.menuOptionIcon {
  display: flex;
  justify-content: center;
  width: 80px;
}

.menuOptionTitle {
  font-size: 1.5rem;
  font-weight: 600;
}

@media screen and (max-width: 992px) {
  .menuContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 70px;
    border-top: solid 1px var(--lightGray);
  }

  .menuOption {
    height: 70px;
  }

  .menuOptionTitle {
    display: none;
  }

  .menuOptionIcon {
    margin: 0;
  }
}
