.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.belowNavbarContainer {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.mainContentContainer {
  flex-grow: 1;
  background-color: var(--lightestSecondary);
}
